<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.DBConnStr" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;E:\NYP\Year 3\Sem 2\IT3191 - ISECCS\ISECCS\ISECCS_PJ\ISECCS_PJ\App_Data\ISECCS.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>