<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.DBConnStr" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Y400\Downloads\ISECCS_v1.3\ISECCS\ISECCS_PJ\ISECCS_PJ\App_Data\ISECCS.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>